<template>
    <section v-if="user">
        <h1>{{user.first_name}} {{user.last_name}}</h1>
        <div>
            <a>{{user.email}}</a>
        </div>
        <div>
            <v-avatar>
                <img
                    :src="user.avatar"
                    :alt="user.first_name"
                    :title="user.first_name"
                >
            </v-avatar>
        </div>
    </section>
</template>

<script>
import { mapState } from 'vuex';

export default {
    name: 'UserDetatil',
    methods: {
        getUser(id) {
            this.$store.dispatch('getUser', id);
        }
    },
    created() {
        this.getUser(this.$route.params.id)
    },
    computed: mapState({
        user: state => state.user
    })
}
</script>