<template>
  <div class="users">
    <h1>Users</h1>

    <v-text-field
      v-model="search"
      append-icon="mdi-magnify"
      label="Search"
      single-line
      hide-details
    ></v-text-field>
    <v-data-table
      :items="users"
      :search="search"
      :headers="headers"
      :options.sync="pagination"
      :server-items-length="total"
      :footer-props="{itemsPerPageOptions: [5, 10, 20]}"
      class="table"
    >
      <template slot="item.email" slot-scope="{item}">
        <a> {{item.email}}</a>
      </template>
      
      <template slot="item.avatar" slot-scope="{item}">
        <v-avatar>
          <img
            :src="item.avatar"
            :alt="item.first_name"
            :title="item.first_name"
          >
        </v-avatar>
      </template>

      <template slot="item.link" slot-scope="{item}">
        <router-link :to="{path:`users/${item.id}`}">>>>></router-link>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'users',
  data: () => ({
    search: '',
    headers: [
      {text: 'Id', value: 'id'},
      {text: 'First Name', value: 'first_name'},
      {text: 'Last Name', value: 'last_name'},
      {text: 'E-mail', value: 'email'},
      {text: 'Avatart', value: 'avatar'},
      {text: '', value: 'link'}
    ],
    pagination: {
      page: 1,
      itemsPerPage: 5
    }
  }),
  methods: {
    getUsers(...args) {
      this.$store.dispatch('getUsers', args);
    }
  },
  watch: {
    pagination() {
      this.getUsers({page: this.pagination.page, perPage: this.pagination.itemsPerPage});
    }
  },
  created() {
    this.getUsers({page: this.pagination.page, perPage: this.pagination.itemsPerPage});
  },
  computed: mapState({
    users: state => state.users,
    total: state => state.total
  })
}
</script>