<template>
    <v-tabs>
        <v-tab :to="{path: '/'}">Home</v-tab>
        <v-tab :to="{path: '/users'}">Users</v-tab>
    </v-tabs>
</template>

<script>

export default {
    name: 'Menu'
}

</script>