<template>
  <v-app>
    <v-app-bar app>
      <Menu/>
    </v-app-bar>
    <v-content>
      <v-breadcrumbs
        v-if="breadcrumbs.length > 1"
        :items="breadcrumbs"
      ></v-breadcrumbs>
      <router-view></router-view>
    </v-content>
    <v-footer app>
      evergreen 2020
    </v-footer>
  </v-app>
</template>

<script>

import Menu from './components/Menu';

export default {
  name: 'App',
  data: () => ({
    breadcrumbs: []
  }),
  watch: {
    '$route'() {
      this.breadcrumbs=this.$route.meta.breadcrumbs;
    }
  },
  components: {
    Menu
  }
};
</script>
